body {
  font-family: 'Roboto', sans-serif;
 /*  font-family: 'Roboto Condensed', sans-serif; */
  font-size: 16px;
  overflow-x: hidden;
}

p {
  font-weight: 400;
}
p.upper {
  text-transform: uppercase;
}
p.upper-bold {
  font-weight: bold;
  text-transform: uppercase;
}
p.bold {
  font-weight: bold;
}
p.color-orange {
  color: $secondary-color;
  font-weight: bold;
  font-size: 18px;
}
p.direction-registre {
  margin-left: 20px;
}

dt, dl, p, ul, li {
  font-size: 13px;
}

dl {
  padding: 0 15px;
}

dd {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h2.accordion {
  font-weight: 500;
  letter-spacing: 2px;
  margin: 10px 0;
}

h3.subtitle {
  font-weight: bold;
  letter-spacing: 1px;

}
h4.direction-save {
  font-weight: bold;
  letter-spacing: 1px;

}

img {
  max-width:100%;
}

* {
  box-sizing: border-box;
}


button {
  cursor: pointer;
  display: inline-block;
}

tr td, tr th {
  border-bottom: 1px solid $separation-color;
}

tr:last-child td {
  border-bottom: none;
}
hr {
  border: 0;
  border-top: 0.5px solid #d0d0d0;
  margin: 40px 0px;
}

.row {
  width: 100%;
  overflow: hidden;
}
.icon {
  font-size: 1.5em;
  margin: 0 5px;
}
a.recuperar_pass {
  color: $primary-color;
  font-size: 0.7em;
  text-align: right;
  float: right;
  line-height: 20px;
}
a.recuperar_pass:hover {
  color: #bbbaba;
}


/* Forms */
form {
  max-width: 100%;
  display: block;
}
input {
  width: 100%;
  padding: 10px;
  margin: 0 0 0.5em 0;
  border: 1px solid $separation-color;
  color: #575757;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-style: oblique;
  border-radius: 5px;
  background-color: #FFF;
}
input.notification {
  background-color: $separation-color;
}
select {
  width: 100%;
  height: 40px;
  background-color: #FFF;
  font-size: 12px;
  padding: 10px 10px;
  margin: 0 0 0.5em 0;
  border: 1px solid $separation-color;
  border-radius: 2px;
  color: #575757;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-style: oblique;
}
label {
  width: 100%;
  display: inline-block;
  float: left;
  display: block;
  margin: 10px 10px 10px 0;
  color: darken(#bbbaba, 30%);
  font-size: 14px;
  margin-top: 15px;
}
sup {
  color: #f00;
  font-size: 12px;
}
button {
  font-size: 0.9em;
  display: inline-block;
  padding: 0.74em 1.5em;
  margin: 1.5em 0 0;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
}
