/* buttons */

.coupon__btn {
  background: #fff;
  border: 1px solid #000;
  padding: 10px;
  width: auto;
  margin-top: 0;
}

.orange-btn {
  color: #fff;
  background: $secondary-color;
  border: 2px solid $secondary-color;
}

.blue-btn {
  color: #fff;
  background: $primary-color;
  border: 2px solid $primary-color;
}

.ghost-btn {
  color: $secondary-color;
  background: #fff;
  border: 2px solid $secondary-color;
}

.btn {
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  width: 100%;
  margin-bottom: 15px;
  font-size: 0.9em;
  display: inline-block;
  padding: 0.74em 1.5em;
  margin: 1.5em 0 0;
  border: none;
  text-decoration: none;
}


/* inputs */

.coupon__input {
  width: 50%;
  margin-bottom: 0;
}


/* error */

.error {
  color: red;
  margin-top: 0;
}
