.content-wrapper {
  @include center($jeet-max-width);
  padding: 0 30px;
}

.marti-checkout__footer, .marti-checkout__header {
  @include column(1/1);
}

.steps {
  @include column(8/12);
}

.details {
  @include column(4/12);
}

.login-widget {
  @include column(6/12);
}

.row {
  @include span(1/1);
  margin-bottom: 15px;
}

.row:last-child {
  margin-bottom: 0;
}

.form-column50 {
  @include column(1/2);
}

.form-column25 {
 @include column(1/4);
}
