/* MODULES */


/* HEADER */

.marti-checkout__header {
  background: #000;
  color: #8c8c8c;
  text-transform: uppercase;
  padding: 10px 0;
  margin-bottom: 50px;
}
.marti-checkout__header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.marti-checkout__login-info {
  font-size: 1em;
  letter-spacing: 1px;
  display: flex;
  justify-content:center;
  align-items: center;
}
.bottoms_login {
  display: flex;
  justify-content:center;
  align-items: center;
}
.login_txt {
  margin: 0 15px;
}

.login_txt:last-child {
  margin: 0 0 0 15px;
}

/* FOOTER */

.marti-checkout__footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  background-color: #000;
  color: #8c8c8c;
}

.marti-checkout__footer {
  background-color: #000;

}
.footer_txt {
  font-size: 1em;
  letter-spacing: 1px;
}

.trust-certificates {
  display: flex;
  text-transform: uppercase;
  align-items: center;
}

.trust-certificates *{
  margin-right: 15px;
}

.trust-certificates *:last-child{
  margin-right: 0;
}

 /* STEPS */

 .steps {
   background-color: #FFFFFF;
   border: 1px solid $separation-color;
   padding: 15px 15px 0 15px;

 }

 .steps-wrapper {
   float: left;
   margin-bottom: 60px;

 }

 .steps-wrapper.login-wrapper {
   width: 100%;
 }

 .login-wrapper {
   display: flex;
   justify-content: center;
 }

 .steps-header {
   padding: 5px 15px;
   color: #fff;
   margin: -15px -16px 15px;
   display: inline-block;
   width: 105.1%;
 }

 .current-section .steps-content {
   width: 100%;
   display: inline-block;
   margin-bottom: 50px;
 }

 .steps-content {
   margin-bottom: 50px;
   float: left;
 }

 .steps section {
   width: 100%;
   display: inline-block;
   margin-bottom: 1px;
 }

 .steps .current-section {

   margin-bottom: 1px;
 }

 .current-step {
   background: $primary-color;
 }

 .next-step {
   background: #ececec;
   color: #807f7f;
 }

 .prev-step {
   background: #807f7f;
 }

 .last-section .steps-header {
   margin-bottom: 0;
 }

 .steps.full-width #confirmation .steps-header.current-step {
  width: 103.4%;
  margin-bottom: 15px;
 }

/* options list */

.options-item {
  border: 1px solid $separation-color;
  padding: 20px;
  margin: 0 0 20px 0;
  cursor: pointer;
}

.options-item-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options-item:last-child {
  margin: 0;
}

.options-item-cards label {
  width: auto;
  margin: 0;
}

.options-item-cards .options-item-wrapper, .options-item-cards input {
  display: inline-block;
  margin: 0;
}

.options-item__card {
  min-width: 50px;
}

.options-item-cards > * {
  margin-right:10px;
  width: auto;
}

.options-item-cards > *:last-child {
  margin-right: 0;
}

.options-item__cvv {
  width: 50px;
}


.options-item__title {
  margin-top: 0;
  font-weight: 700;
}

.options-item.selected, .options-item:hover {
  background: lighten($primary-color,48%);
  border: 1px solid lighten($primary-color,35%);
}

.options-item-wrapper {
  text-align: right;
  width: 100%;
  margin: 20px 0 0 0;
}

.options-item__edit, .options-item__delete {
  color: #807f7f;
  text-decoration:none;
  margin-right: 10px;
  font-weight: bold;
}

.options-item__delete:last-child {
  margin-right: 0;
}

.options-item__edit:hover, .options-item__delete:hover {
  color: $primary-color;
  text-decoration:underline;
  font-weight: bold;
}



/* products table */

 .products-table {
   margin-top: 15px;
   text-align: left;
 }

 .products-table__img {
   width: 10%;
 }

 .products-table img {
   width: auto;
 }

 .products-table th {
   text-transform: uppercase;
   color: #666;
   font-weight: 300;
 }

 .products-table__header {
   border-bottom: 1px solid #ccc;
 }

 .products-table th, .products-table td {
   padding: 7.5px;
 }

 td.products-table__quantity, td.products-table__remove {
   padding: 0;
 }

 .quantity-control {
   display: inline-block;
   margin-left: 5px;
 }

 .remove-product, .add-product {
   border: 1px solid #d0d0d0;
   padding: 0 6px;
   height: 23px;
   width: 23px;
   cursor: pointer;
 }

 .remove-product:active, .add-product:active {
   background: #000;
   color: #fff;
 }

 .remove-product {
   padding: 0 8px;
 }

 .add-product {
   margin-left: -1px;
 }


/* summary */

.summary {
  border: 1px solid $separation-color;
  padding: 15px;
  margin: 0 0 25px 0;
  background-color: #FFFFFF;
}
.summary-two{
  padding: 15px;
  margin-bottom: 25px;
  background-color: #FFFFFF;
}
.summary-two.summary-border {
  border-left: 1px solid $separation-color;
}

.summary-detalle {
  border: 1px solid $separation-color;
  padding: 15px;
  margin-bottom: 25px;
  background-color: #FFFFFF;
}

.summary-header {
  background-color: #FFF;
  margin: -15px -15px 10px;
  padding: 15px;
}

.summary__title {
  margin: 0;
  font-weight: bold;
}

dl {
  display: flex;
  justify-content: space-between;
}

dt {
  font-weight: 700;
}

.summary-product-list {
  width: 100%;
}

.summary__total {
  border-top: 1px solid $separation-color;
  padding-top: 15px;
  margin-top: 15px;
}

.summary-product-list__img {
  width: 73.5px;
}

.summary-product-list__title {
  width: 100px;
}

.summary-product-list__remove {
  text-align: left;
}


/* benefits */

.benefits {
  border: 1px solid $separation-color;
  padding: 15px;
  color: #898989;
}

.benefits p {
  margin: 0;
}

.benefits-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.benefits-list li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.benefits-list li:last-child {
  margin-bottom: 0;
}

.benefits-list li img {
  margin-right: 15px;
  padding-top: 5px;
}



/* coupon */

.coupon__input-group {
  display: flex;
  justify-content: space-between;
}


.coupon__applied-coupon {
  background-color: #e0e0e0;
  margin: 20px -15px;
  padding: 10px 15px;
  text-align: center;
}


/* summary */

.to-pay {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  background-color: #f8f8f8;
  padding: 15px 15px;
  margin: 0 -15px 15px;
  color: #666;
}

.to-pay__quantity {
  color: $primary-color;
  font-size: 20px;
}

dl.to-pay__wrapper {
  align-items: center;
}


/* order btns */

.order-btns .btn:last-child {
  margin: 0;
}

.order-btns__hr-wrapper {
  position: relative;
  float: left;
  width: 100%;
  height: 41px;
  margin: 0 0 15px 0;
}

.order-btns__hr {
  position: absolute;
  width: 100%;
  top: 30%;
}

.order-btns__hr-wrapper span{
  position: absolute;
  padding: 10px;
  background: #fff;
  left: 43%;
}

.add-button-wrapper, .button-wrapper {
  width: 100%;
}

/* login */

.login-widget {
  padding: 10px 20px 20px;
  background-color: #fff;
  margin-bottom: 20px;

}
.login-widget-vertical {
  border-left: 1px solid$separation-color;
  padding-top: 100px;
  padding-bottom: 100px;

}
.facebook {
  text-align: center;
  margin: 15px auto 0;
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook img {
  max-width: 203px;
}

/* formulario editar envio  */
.subtitle-form {
  color:$primary-color;
  width: 100%;
  padding: 20px 0;
  margin: 15px 0;
  text-transform: uppercase;
  font-weight: 400;;
  letter-spacing: 1px;
}
.container_form {
  width: 600px;
  height: auto;
  margin: 1em auto;
  padding: 2em 1em;
  border: 1px solid $separation-color;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 59%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
.form-row {
  display: flex;
  align-items: flex-start;;
  justify-content: flex-start;
}
.form-column-exp {
  display: flex;
  align-items: flex-start;
  margin-right: 10px;
  width: 50%;
}

.form-radio {
  display: flex;
}

.form-radio label{
  margin: 0;
  color: inherit;
  font-size: inherit;
  margin-top: 0;
}

.options-item .radio input[type="radio"] {
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}

.check-pay {
  text-align: center;
  margin: 10px 0;
}
.check-pay.check-left{
  border-left: 1px solid $separation-color;
}

.btn-save {
  color: #fff;
  text-transform: uppercase;
  background-color: $secondary-color;
  border: 2px solid $secondary-color;
}
.btn-save:hover {
  background-color: lighten($secondary-color, 5%);
  border: 2px solid lighten($secondary-color, 5%);
  transition: 1s;
}
.btn-cancel, .btn-add {
  color: $primary-color;
  border: 2px solid $primary-color;
  background-color: #FFF;
}
.btn-cancel:hover, .btn-add:hover {
  color: lighten($primary-color, 5%);
  border: 2px solid lighten($primary-color, 5%);
}

.express-order__btn {
  border: 2px solid $secondary-color;
}
.order__btn:hover {
  background-color: lighten($secondary-color, 5%);
  transition: 1s;
}
button.target {
  background-color: #ececec;
  color: #000000;
  /*border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;*/
  font-weight: bold;
  letter-spacing: 1px;
  width: 100%;
  margin-bottom: 20px;
}
button.target:hover {
  background-color: #807f7f;
  color: #FFFFFF;

}

.form-checkbox {
  position: relative;
}

input[type=checkbox] {
  position: absolute;
  margin: 0;
  bottom: 14px;
  left: -3px;
  opacity: 0;
}

input[name=terms-conditions] {
  bottom: 4px;
  height: 50px;
}

input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}
input[type=checkbox] + label:before { content: "\f096"; }
input[type=checkbox] + label:before { letter-spacing: 10px; }

input[type=checkbox]:checked + label:before { content: "\f046"; color: $primary-color; }
input[type=checkbox]:checked + label:before { letter-spacing: 5px; }

/* formulario agregar tarjeta bancaria   */

.card {
  margin: 10px 10px;
  padding: 0 10px;
}
.tarjeta {
  margin: 0 10px;
  opacity: .6;
}

/* columnas direcciones guardadas  */

.save-direction {
  padding-left: 30px;
}
.radio-save {
  color: #000;
  font-weight: bold;
}
.add-item__title {
  cursor: pointer;
}
.edit-target {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 30px;
}
.icon-edit {
  margin: 10px;
  font-size: 1.3em;
  color: #9b9b9b;
}
.red {
  color: #e20c18;
}

/* add item */

/* radio button  */

.radio {
  position: relative;
}

.radio input[type="radio"] {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  width: 80px;
  bottom: 6px;
  height: 19px;
  z-index: 1;
}
.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0px;
  margin-right: 0.5em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  cursor: pointer;
}

.radio-label, input[type="radio"] {
  display: inline-block;
}

.radio input[type="radio"]:checked + .radio-label:before {
  background-color: $primary-color;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: $primary-color;
}

.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}

.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

/*Tooltip */

.tooltipster-sidetip .tooltipster-box {
  background: rgba(74,74,74,.9);
  background: -moz-linear-gradient(top, rgba(74,74,74,.9) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,74,74,.9)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(74,74,74,.9) 0%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(74,74,74,.9) 0%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(74,74,74,.9) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(74,74,74,.9) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#000000', GradientType=0 );
  border: 0px;
	border-radius: 5px;
  padding: 10px;
  max-width: 350px;
  font-size: 1em;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(173,173,173,8);
  -moz-box-shadow: 0px 0px 6px 1px rgba(173,173,173,8);
  box-shadow: 0px 0px 6px 1px rgba(173,173,173,8);

}

.tooltipster-sidetip .tooltipster-arrow-background {
	border: 10px solid transparent;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
	border-bottom-color: #000000;

}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
	border-left-color: #000000;

}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
	border-right-color: #000000;

}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
	border-top-color: #000000;

}

/* Alertify */

.alertify-log-success {
  background: rgba(92,184,17,.9);
  letter-spacing: 1px;
}

/* Datepicker */
/* Input module
****************************************/
.Input--noIndicator::-webkit-calendar-picker-indicator {
  display: none;
}

.Input--noSpinner::-webkit-inner-spin-button {
  display: none;
}

/* Date module
*****************************/
.Date {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin: 0 0 0.5em 0;
  border: 1px solid $separation-color;
  color: #575757;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-style: oblique;
  border-radius: 5px;
  background-color: #FFF;
}
.Date::-webkit-calendar-picker-indicator,
.Date::-webkit-inner-spin-button,
.Date::-webkit-clear-button {
  width: 1em;
  cursor: pointer;
}
.Date-input input[type='text'] {
  width: auto;
  background: transparent;
  margin: 0;
  padding: 0.1em;
  text-align: left;
  border: none;
}
.Date-input input[type='text'].dd {
  width: 1.4em;
}
.Date-input input[type='text'].mm {
  width: 2em;
}
.Date-input input[type='text'].yyyy {
  width: 2.8em;
}
.Date-input input[type='text']::-webkit-inner-spin-button {
  display: none;
}
.Date-input input[type='text']:hover,
.Date-input input[type='text']:focus {
  outline: 0;
}
.Date-picker::-webkit-calendar-picker-indicator {
  margin-left: 0.3em;
  color: transparent;
  opacity: 0.99;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  background-size: 20px;
  background-image: url('../images/calendar-icon.svg');
  background-repeat: no-repeat;
  background-position: 95%;
  border: none;
  cursor: pointer;
  border-radius: 0.2em;
  transition: background-color 0.2s;
}
