<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300,400,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/af93e23943.js"></script>
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag :site %>
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/alertify.js"></script>
    <script src="/javascripts/tooltipster.bundle.min.js"></script>
    <%= javascript_include_tag :all %>
  </head>
  <body class="<%= page_classes %>">
    <div class="page-wrap">
    <%= partial "partials/header" %>
    <%= yield %>
   </div>
    <%= partial "partials/footer" %>
  </body>
  <script src="/javascripts/jquery.validate.min.js"></script>
  <script src="/javascripts/localization/messages_es.js"></script>
</html>
