<div class="benefits">
  <ul class="benefits-list">
    <li class="benefits-list_item"><img src="/images/estrena.png" alt=""> <p><strong>Estrena tu compra</strong> en un lapso de 2 a 5 días hábiles.</p></li>
    <li class="benefits-list_item"><img src="/images/carro.png" alt=""> <p><strong>¿No era tu talla o tu estilo?</strong> Cámbialo en nuestras tiendas.</p></li>
    <li class="benefits-list_item"><img src="/images/entrega.png" alt=""> <p><strong>Envío gratis</strong> a toda la República Mexicana.</p></li>
    <li class="benefits-list_item"><img src="/images/tarjeta.png" alt=""> <p><strong>Aceptamos:</strong> Tarjeta de crédito/débito, Puntos deporteísmo, Paypal, Visa Checkout y Pagos en efectivo.</p></li>
  </ul>
</div>
