<section id="confirmation" class="last-section">
  <header class="steps-header next-step">
    <h2 class="accordion"><i class="fa fa-check-circle" aria-hidden="true"></i> Confirmación</h2>
  </header>
<div class="steps-content hide">
  <div class="form-row summary">
    <div class="form-column50">
      <div class="summary-two">
        <header class="summary-header">
          <h3 class="summary__title">Gracias por tu compra</h3>
        </header>
      <p class="color-orange"># Pedido: #849403639</p>
      <p>Te enviaremos un email de confirmación al correo que nos proporcionaste.</p>
      </div>
    </div>
    <div class="form-column50">
      <div class="summary-two summary-border">
        <header class="summary-header">
          <h3 class="summary__title">Tus datos</h3>
        </header>
        <p class="upper-bold color-orange">Mireya Alvarez</p>
        <p class="upper"><i class="fa fa-check" aria-hidden="true"></i> <strong>Envio:</strong> Trabajo</p>
        <p>Av. Insurgentes Sur 552, Roma Sur, 06760 Ciudad de México, CDMX.</p>
        <p class="upper"><i class="fa fa-check" aria-hidden="true"></i> <strong>Pago:</strong> Citybanamex 9876</p>
        <p class="upper"><i class="fa fa-check" aria-hidden="true"></i> <strong>Promoción:</strong> 6 Meses sin intereses</p>
        <hr>
        <header class="summary-header">
          <h3 class="summary__title">Crea una cuenta con nosotros</h3>
        </header>
        <p>Vuelve tu compras mas sencillas.</p>
        <a href="#" class="btn btn-save">Crear cuenta</a>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="summary-two">
        <header class="summary-header">
          <h3 class="summary__title">Resumen de tu compra</h3>
        </header>
        <table class="products-table" cellspacing="0">
          <tbody>
            <% data.products.products.each do |product| %>
            <tr>
              <td class="products-table__img"><a href=""><img src="<%= product.img_url %>" alt=""></a></td>
              <td class="products-table__title"><p><a href=""><%= product.title %></a> <br><%= product.quantity %></br>TALLA: <%= product.sizes %> <br>COLOR: <%= product.color %> <br></p></td>
              <td class="products-table__description"></td>
              <td class="products-table__price"><p>$<%= product.price %></p></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <dl class="summary_subtotal">
          <dt>Subtotal</dt>
          <dd>$1,548.00</dd>
        </dl>
        <dl class="summary__discount">
          <dt>Descuento</dt>
          <dd>-$309.60</dd>
        </dl>
        <dl class="summary__shipping">
          <dt>Envío</dt>
          <dd>GRATIS</dd>
        </dl>
        <dl class="summary__total">
          <dt>Total</dt>
          <dd class="to-pay__quantity">$1,597.60</dd>
        </dl>
      </div>
    </div>
</div>
</section>
