<div class="coupon">
  <h4 class="coupon__title">¿Tienes un cupón?</h4>
  <div class="coupon__input-group">
    <input class="coupon__input" type="text">
    <button class="coupon__btn" type="button" name="button">Aplicar cupón</button>
  </div>
  <p class="coupon__applied-coupon">Empleados aplicado.</p>
</div>
