<div class="detail">
  <header class="detail-header">
    <h3 class="detail__title">Detalle de tu pedido</h3>
  </header>
  <ul class="product-list">
    <li class="product-list__item">
      <img src="" alt="" class="product-list__img">
      <span class="product-list__title">Playera Jordan Basquetbol Jumpman Flight X 1</span>
      <span class="product-list__price">$449.00</span>
      <a href="" class="product-list__remove-item"><img src="" alt=""></a>
    </li>
    <li class="product-list__item">
      <img src="" alt="" class="product-list__img">
      <span class="product-list__title">Jersey Adidas NBA Chicago Bulls Retired Rodman X 1</span>
      <span class="product-list__price">$1,099.00</span>
      <a href="" class="product-list__remove-item"><img src="" alt=""></a>
    </li>
  </ul>
</div>
