<footer class="marti-checkout__footer">
  <div class="content-wrapper">
    <div class="marti-checkout__footer-wrapper">
      <p>Todos los derechos reservados 2016 Empresa filial de "Grupo Martí, S.A. de C.V."</p>
      <div class="trust-certificates">
        <p class="footer_txt"><i class="fa fa-lock icon"></i> compra segura</p>
        <img src="/images/verifica.png" alt="" class="trust-certificates__certificate">
        <img src="/images/norton.png" alt="" class="trust-certificates__certificate">
      </div>
    </div>
  </div>
</footer>
