<section id="shipping">
  <header class="steps-header next-step">
    <h2 class="accordion">
      <i class="fa fa-truck" aria-hidden="true"></i>
      Envío</h2>
  </header>
  <div class="steps-content hide">
    <div class="row">
      <div class="options">
        <h4><i class="fa fa-arrow-circle-right"></i> Mis direcciones guardadas para envió</h4>
        <% data.addresses.addresses.each do |address| %>
        <div class="options-item options-item-address <%= address.selected %>">
          <h4 class="options-item__title">    <div class="form-radio">
                  <div class="radio">
                      <input name="shipping" value="<%= address.alias %>" type="radio" <%= address.checked %>>
                      <label for="shipping" class="radio-label"><%= address.alias %></label>
                  </div>
              </div></h4>
          <p class="options-item__description"><%= address.description %><br><%= address.telephone %></p>
          <p class="options-item-wrapper">
            <a href="#" class="options-item__edit"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a>
            <a href="#" class="options-item__delete"><i class="fa fa-trash" aria-hidden="true"></i> Borrar</a>
          </p>
        </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <form id="shippingForm" class="" action="" method="post" novalidate>
        <div class="shipping-form-wrapper hide">
          <div class="form-row">
            <div class="form-column50">
              <label for="alias-direccion">Alias:<sup>*</sup>
                <a href="#" title="Asígnale un nombre a tu dirección para que sea más fácil comprar, puedes guardar las direcciones de entrega que requieras." class="tooltip">
                  <i class="fa fa-info-circle"></i>
                </a>
              </label>
              <input type="text" name="alias-direccion" required/>
            </div>
          </div>

          <div class="form-row">
            <div class="form-column50">
              <label for="calle">Calle:<sup>*</sup>
              </label>
              <input type="text" name="calle" required/>
            </div>
            <div class="form-column25">
              <label for="num-exterior">Número Exterior:<sup>*</sup>
              </label>
              <input type="text" name="num-exterior" required/>
            </div>
            <div class="form-column25">
              <label for="num-interior">Número Interior:</label>
              <input type="text" name="num-interior"/>
            </div>
          </div>

          <div class="form-row">
            <div class="form-column25">
              <label for="codigo-postal">Código postal:<sup>*</sup>
              </label>
              <input type="text" name="codigo-postal" required/>
            </div>
          </div>

          <div class="form-row">
            <div class="form-column50">
              <label for="">Colonia:<sup>*</sup>
              </label>
              <select name="colonia" required>
                <option value="">Selecciona una colonia</option>
                <option value="1">Roma Sur</option>
                <option value="2">Opción 1</option>
                <option value="3">Opción 2</option>
              </select>
            </div>
            <div class="form-column50">
              <label for="delegacion">Delegación:<sup>*</sup>
              </label>
              <select name="delegacion" required>
                <option value="">Selecciona una delegación</option>
                <option value="cuahutemoc">Cuauhtemoc</option>
                <option value="2">Opción 1</option>
                <option value="3">Opción 2</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-column50">
              <label for="estado">Estado:<sup>*</sup>
              </label>
              <select name="estado" required>
                <option value="">Selecciona un estado</option>
                <option value="CDMX">CDMX</option>
                <option value="2">Opción 1</option>
                <option value="3">Opción 2</option>
              </select>
            </div>
            <div class="form-column50">
              <label for="ciudad">Ciudad:<sup>*</sup>
              </label>
              <select name="ciudad" required>
                <option value="">Selecciona una ciudad</option>
                <option value="CDMX">CDMX</option>
                <option value="2">Opción 1</option>
                <option value="3">Opción 2</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-column50">
              <label for="telefono">Teléfono:<sup>*</sup>
              </label>
              <input type="text" name="telefono" placeholder="10 digitos" required/>
            </div>
            <div class="form-column50">
              <label for="entre-calles">Entre calles:
                <a href="#" title="Ingresa entre qué calles se encuentra la dirección de entrega." class="tooltip">
                  <i class="fa fa-info-circle"></i>
                </a>
              </label>
              <input type="text" name="entre-calles"/>
            </div>
          </div>

          <div class="form-row">
            <div class="form-column50 form-checkbox">
              <input type="checkbox" name="standard-address" checked/>
              <label for="standard-address">Establecer dirección como predeterminada</label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="button-wrapper">
            <div class="form-column50">
              <button class="btn-add"><i class="fa fa-plus" aria-hidden="true"></i>  Agregar nueva dirección</button>
            </div>
            <div class="form-column50">
              <button class="btn-save">Continuar</button>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="add-button-wrapper hide">
            <div class="form-column50">
              <button class="btn-cancel btn-cancel-option">Cancelar</button>
            </div>
            <div class="form-column50">
              <button class="btn-save btn-save-address">Guardar direccion</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
