<section id="shipping" class="current-section">
  <header class="steps-header current-step">
    <h2 class="accordion"><i class="fa fa-truck" aria-hidden="true"></i> Envío</h2>
  </header>
  <div class="steps-content">
    <div class="row">
      <form id="shippingFormGuest" class="" action="" method="post" novalidate>
        <div class="form-row">
            <div class="form-column50">
                <label for="nombres">Nombre (s):
                    <sup>*</sup>
                </label>
                <input type="text" name="nombres" required/>
            </div>
            <div class="form-column50">
                <label for="apellidos">Apellidos:
                    <sup>*</sup>
                </label>
                <input type="text" name="apellidos" required/>
            </div>
        </div>
        <div class="form-row">
          <div class="form-column50">
            <label for="calle">Calle:<sup>*</sup></label>
            <input type="text" name="calle" required />
          </div>
          <div class="form-column25">
            <label for="num-exterior">Número Exterior:<sup>*</sup></label>
            <input type="text" name="num-exterior" required/>
          </div>
            <div class="form-column25">
              <label for="num-interior">Número Interior:</label>
              <input type="text" name="num-interior" />
            </div>
        </div>

        <div class="form-row">
          <div class="form-column25">
            <label for="codigo-postal">Código postal:<sup>*</sup></label>
            <input type="text" name="codigo-postal" required/>
          </div>
        </div>

        <div class="form-row">
          <div class="form-column50">
            <label for="">Colonia:<sup>*</sup></label>
            <select name="colonia" required>
              <option value="">Selecciona una colonia</option>
              <option value="1">Roma Sur</option>
              <option value="2">Opción 1</option>
              <option value="3">Opción 2</option>
            </select>
          </div>
          <div class="form-column50">
            <label for="delegacion">Delegación:<sup>*</sup></label>
            <select name="delegacion" required>
              <option value="">Selecciona una delegación</option>
              <option value="cuahutemoc">Cuauhtemoc</option>
              <option value="2">Opción 1</option>
              <option value="3">Opción 2</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-column50">
            <label for="estado">Estado:<sup>*</sup></label>
            <select name="estado" required>
              <option value="">Selecciona un estado</option>
              <option value="CDMX">CDMX</option>
              <option value="2">Opción 1</option>
              <option value="3">Opción 2</option>
            </select>
          </div>
          <div class="form-column50">
            <label for="ciudad">Ciudad:<sup>*</sup></label>
            <select name="ciudad" required>
              <option value="">Selecciona una ciudad</option>
              <option value="CDMX">CDMX</option>
              <option value="2">Opción 1</option>
              <option value="3">Opción 2</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-column50">
            <label for="telefono">Teléfono:<sup>*</sup></label>
            <input type="text" name="telefono" placeholder="10 digitos"  required/>
          </div>
          <div class="form-column50">
            <label for="entre-calles">Entre calles: <a href="#" title="Ingresa entre qué calles se encuentra la dirección de entrega." class="tooltip"><i class="fa fa-info-circle"></i></a></label>
            <input type="text" name="entre-calles"/>
          </div>
        </div>

        <div class="form-row">
          <div class="form-column50">
            <label for="guest-email">Email:<sup>*</sup> <a href="#" title="Ingresa tu email para recibir la confirmacion de tu orden." class="tooltip"><i class="fa fa-info-circle"></i></a></label>
            <input type="email" name="guest-email" required/>
          </div>
        </div>

        <div class="form-row">
          <div class="form-column50">
          </div>
          <div class="form-column50">
            <button class="btn-save">Continuar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
