<div class="form-row">
  <div class="form-column50 form-checkbox">
    <input type="checkbox" name="same-address"/>
    <label for="same-address">
      Es la misma que la dirección de envío</label>
  </div>
</div>
<div class="shipping-form-pay">
  <div class="form-row">
    <div class="form-column50">
      <label for="calle">Calle:<sup>*</sup>
      </label>
      <input type="text" name="calle" required/>
    </div>
    <div class="form-column25">
      <label for="num-exterior">Número Exterior:<sup>*</sup>
      </label>
      <input type="text" name="num-exterior" required/>
    </div>
    <div class="form-column25">
      <label for="num-interior">Número Interior:</label>
      <input type="text" name="num-interior"/>
    </div>
  </div>

  <div class="form-row">
    <div class="form-column25">
      <label for="codigo-postal">Código postal:<sup>*</sup>
      </label>
      <input type="text" name="codigo-postal" required/>
    </div>
  </div>

  <div class="form-row">
    <div class="form-column50">
      <label for="">Colonia:<sup>*</sup>
      </label>
      <select name="colonia" required>
        <option value="">Selecciona una colonia</option>
        <option value="1">Roma Sur</option>
        <option value="2">Opción 1</option>
        <option value="3">Opción 2</option>
      </select>
    </div>
    <div class="form-column50">
      <label for="delegacion">Delegación:<sup>*</sup>
      </label>
      <select name="delegacion" required>
        <option value="">Selecciona una delegación</option>
        <option value="cuahutemoc">Cuauhtemoc</option>
        <option value="2">Opción 1</option>
        <option value="3">Opción 2</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-column50">
      <label for="estado">Estado:<sup>*</sup>
      </label>
      <select name="estado" required>
        <option value="">Selecciona un estado</option>
        <option value="CDMX">CDMX</option>
        <option value="2">Opción 1</option>
        <option value="3">Opción 2</option>
      </select>
    </div>
    <div class="form-column50">
      <label for="ciudad">Ciudad:<sup>*</sup>
      </label>
      <select name="ciudad" required>
        <option value="">Selecciona una ciudad</option>
        <option value="CDMX">CDMX</option>
        <option value="2">Opción 1</option>
        <option value="3">Opción 2</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-column50">
      <label for="telefono">Teléfono:<sup>*</sup>
      </label>
      <input type="text" name="telefono" placeholder="10 digitos" required/>
    </div>
    <div class="form-column50">
      <label for="entre-calles">Entre calles: <a href="#" title="Ingresa entre qué calles se encuentra la dirección de entrega." class="tooltip">
          <i class="fa fa-info-circle"></i>
        </a>
      </label>
      <input type="text" name="entre-calles"/>
    </div>
  </div>
</div>
