<section>
  <div class="subtitle-form">Agregar tarjeta bancaria</div>
  <label for="">Alias:<sup>*</sup><a href="#" class="tooltip" title="Alias"><i class="fa fa-info-circle"></i></a></label>
  <input type="text" name="" placeholder="Nombre para identificar tu tarjeta"/>
  <label for="">Nombre del titular:<sup>*</sup></label>
  <input type="text" name="" placeholder="Nombre y Apellidos"/>
  <label for="">Número de tarjeta:<sup>*</sup></label>
  <input type="text" name="" placeholder="**** **** **** ****"/>
  <div class="form-row">
    <input id="box2" type="checkbox" />
    <label for="box2">Misma dirección para facturación</label>
  </div>
  <div class="form-row">
    <label for="">Tipo de tarjeta:<sup>*</sup></label>
    </div>
    <div class="form-row">
      <div class="card">
        <img class="tarjeta" src="./images/tarjeta_mc.png">
        <img class="tarjeta" src="./images/tarjeta_visa.png">
        <img class="tarjeta" src="./images/tarjeta_ae.png">
      </div>
    </div>
  <div class="form-row">
    <label for="">Fecha de expiración:<sup>*</sup></label>
  </div>
  <div class="form-row">
    <div class="form-column50">
        <select>
          <option>Mes</option>
          <option>Opción 1</option>
          <option>Opción 2</option>
        </select>
    </div>
    <div class="form-column50">
        <select>
          <option>Año</option>
          <option>Opción 1</option>
          <option>Opción 2</option>
        </select>
    </div>
  </div>
  <div class="form-row">
    <input id="box1" type="checkbox" />
    <label for="box1">Es la misma dirección que la tarjeta</label>
  </div>
  <div class="subtitle-form">Captura la dirección de tu tarjeta</div>
  <label for="">Calle:<sup>*</sup></label>
  <input type="text" name="" />
  <div class="form-row">
    <div class="form-column50">
      <label for="">Número Exterior:<sup>*</sup></label>
      <input type="text" name="" />
    </div>
    <div class="form-column50">
      <label for="">Número Interior/Depto: <sup>*</sup></label>
      <input type="text" name=""  />
    </div>
  </div>
    <div class="form-row">
      <div class="form-column50">
        <label for="">Código postal:<sup>*</sup></label>
        <input type="text" name="" />
      </div>
      <div class="form-column50">
      <label for="">Estado:<sup>*</sup></label>
        <select>
          <option>CDMX</option>
          <option>Opción 1</option>
          <option>Opción 2</option>
        </select>
    </div>
    </div>
    <label for="">Ciudad:<sup>*</sup></label>
    <input type="text" name="" />
    <div class="form-row">
      <div class="form-column50">
        <label for="">Delegación o municipio:<sup>*</sup></label>
        <select>
          <option>Cuauhtemoc</option>
          <option>Opción 1</option>
          <option>Opción 2</option>
        </select>
      </div>
      <div class="form-column50">
        <label for="">Colonia o Asentamiento:<sup>*</sup></label>
        <select>
          <option>Roma Sur</option>
          <option>Opción 1</option>
          <option>Opción 2</option>
        </select>
      </div>
    </div>
    <label for="">Teléfono:<sup>*</sup></label>
    <input type="text" name="" placeholder="10 digitos" />
    <div class="form-row">
      <input id="box2" type="checkbox" />
      <label for="box2">Usar esta forma de pago como predeterminada</label>
    </div>
    <div class="form-row">
      <div class="form-column50">
        <button class="btn-cancel">Cancelar</button>
      </div>
      <div class="form-column50">
        <button class="btn-save">Guardar Tarjeta</button>
      </div>
    </div>
</section>
