<header class="marti-checkout__header">
    <div class="content-wrapper">
      <div class="marti-checkout__header-wrapper">
        <a href="https://www.marti.mx/store-marti/home"><img src="/images/marti-logo.png" alt="" class="marti-checkout__logo"></a>
        <div class="bottoms_login">
          <div class="login_txt"><p class="marti-checkout__login-info"><i class="fa fa-user-circle icon" aria-hidden="true"></i> Bienvenido</p></div> <!--(<span class="marti-checkout__user">ANAIS</span>)-->
          <div class="login_txt"><p class="marti-checkout__login-info"><i class="fa fa-phone-square icon" aria-hidden="true"></i> Ayuda</p></div>
        </div>
      </div>
    </div>
</header>
