<div class="summary">
  <header class="summary-header">
    <h3 class="summary__title">Detalle de tu pedido</h3>
  </header>
  <table class="summary-product-list" cellspacing="0">
    <tbody>
      <% data.products.products.each do |product| %>
      <tr>
        <td class="summary-product-list__img"><a href=""><img src="<%= product.img_url %>" alt=""></a></td>
        <td class="summary-product-list__title"><p><a href=""><%= product.title %></a> <br>x <%= product.quantity %></p></td>
        <td class="summary-product-list__price"><p>$<%= product.price %></p></td>
        <td class="summary-product-list__remove"><a href=""><img src="/images/remove.png" alt=""></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <dl class="summary__total-product">
    <dt>Total de productos</dt>
    <dd>2</dd>
  </dl>
  <dl class="summary_subtotal">
    <dt>Subtotal</dt>
    <dd>$1,548.00</dd>
  </dl>
  <dl class="summary__discount">
    <dt>Descuento</dt>
    <dd>-$309.60</dd>
  </dl>
  <dl class="summary__shipping">
    <dt>Envío</dt>
    <dd>GRATIS</dd>
  </dl>
  <dl class="summary__total">
    <dt>Total</dt>
    <dd>$1,238.40</dd>
  </dl>
  <%= partial "partials/coupon" %>
  <div class="to-pay">
    <dl class="to-pay__wrapper">
      <dt class="to-pay__title">Por pagar:</dt>
      <dd class="to-pay__quantity">$1,597.60</dd>
    </dl>
  </div>
</div>
