<section id="payment">
  <header class="steps-header next-step">
    <h2 class="accordion"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Pago</h2>
  </header>
  <div class="steps-content hide">

    <div class="row">
      <form id="payForm" class="" action="" method="post" novalidate>
        <div class="form-row">
          <button class="target">Tarjeta Crédito / Débito / Deporteismo <i class="fa fa-angle-down" aria-hidden="true"></i></button>
        </div>

        <div class="form-row">
          <div class="form-column50">
            <label for="alias-direccion">Alias:<sup>*</sup>
              <a href="#" title="Asígnale un nombre a tu tarjeta para que sea más fácil comprar, puedes guardar las tarjetas que requieras." class="tooltip">
                <i class="fa fa-info-circle"></i>
              </a>
            </label>
            <input type="text" name="alias-direccion" required/>
          </div>
        </div>

        <div class="form-row">
          <div class="form-column50">
            <label for="titular">Nombre del titular:<sup>*</sup></label>
            <input type="text" name="titular" required/>
          </div>
          <div class="form-column50">
            <label for="num-tarjeta">Número de tarjeta:<sup>*</sup></label>
            <input type="text" name="num-tarjeta" placeholder="**** **** **** ****" required/>
          </div>
        </div>

        <div class="form-row">
          <div class="form-column50">
              <label for="mes-expiracion">Mes de expiración:<sup>*</sup></label>
              <select name="mes-expiracion" required>
                  <option value="">Mes</option>
                  <option value="1">Opción 1</option>
                  <option value="2">Opción 2</option>
              </select>
          </div>
          <div class="form-column50">
              <label for="ano-expiracion">Año de expiración:<sup>*</sup></label>
                <select name="ano-expiracion" required>
                  <option value="">Año</option>
                  <option value="1">Opción 1</option>
                  <option value="2">Opción 2</option>
                </select>
          </div>
          <div class="form-column50">
              <label for="cvv">CVV:<sup>*</sup> <a href="#" title="Son los tres últimos números que se encuentran al reverso de tu tarjeta bancaria" class="tooltip"><i class="fa fa-info-circle"></i></a></label></label>
              <input type="text" name="cvv" placeholder="Ingresa 3 o 4 dígitos" required/>
          </div>
        </div>

        <%= partial "partials/form-shipping-pay" %>

        <div class="form-row">
          <button class="target">Tarjeta Deporteísmo <i class="fa fa-angle-down" aria-hidden="true"></i></button>
        </div>

        <div class="form-row">
          <div class="form-column50">
              <div class="check-pay"><a href="#"><img src="/images/boton-visacheckout.png"></a></div>
          </div>
          <div class="form-column50">
            <div class="check-pay check-left"><a href="#"><img src="/images/boton-paypal.png"></a></div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-column50">
         </div>
         <div class="form-column50">
            <button class="btn-save">Pagar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
