<section id="payment">
  <header class="steps-header next-step">
    <h2 class="accordion">
      <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
      Pago</h2>
  </header>
  <div class="steps-content hide">

    <div class="row">
      <h4>
        <i class="fa fa-arrow-circle-right"></i>
        Mis tarjetas guardadas para pago</h4>
      <% data.cards.cards.each do |card| %>
      <div class="options-item options-item-cards  <%= card.selected %>">
        <div class="form-radio">
          <div class="radio">
            <input id="radio-1" name="shipping" value="<%= card.alias %>" type="radio" <%= card.checked %>>
            <label for="shipping" class="radio-label options-item__title"><%= card.alias %></label>
          </div>
        </div>
        <div class="options-item__card"><img src="<%= card.img_url %>" alt=""></div>
        <div class="options-item__number"><%= card.numbers %></div>
        <div class="">
          <label for="">CVV:
            <a href="#" title="Son los tres últimos números que se encuentran al reverso de tu tarjeta bancaria" class="tooltip">
              <i class="fa fa-info-circle"></i>
            </a>
          </label>
        </div>
        <div class="">
          <input type="text" class="options-item__cvv">
        </div>
        <div class="">
          <label for="card-promotion">MSI:<sup>*</sup>
          </label>
        </div>
        <div class="">
          <select name="card-promotion">
            <option>1 sólo pago</option>
            <option>3 meses</option>
            <option>6 meses</option>
            <option>12 meses</option>
          </select>
        </div>
      </div>
      <% end %>
    </div>

    <div class="row">
      <form id="payForm" class="" action="" method="post" novalidate>

        <div class="form-row">
          <button class="target">Tarjeta Crédito / Débito
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </button>
        </div>

        <div class="form-row">
          <div class="form-column50">
            <label for="titular">Nombre del titular:<sup>*</sup>
            </label>
            <input type="text" name="titular" required/>
          </div>
          <div class="form-column50">
            <label for="num-tarjeta">Número de tarjeta:<sup>*</sup>
            </label>
            <input type="text" name="num-tarjeta" placeholder="**** **** **** ****" required/>
          </div>
        </div>

        <div class="form-row">
          <div class="form-column50">
            <label for="mes-expiracion">Mes de expiración:<sup>*</sup>
            </label>
            <select name="mes-expiracion" required>
              <option value="">Mes</option>
              <option value="1">Opción 1</option>
              <option value="2">Opción 2</option>
            </select>
          </div>
          <div class="form-column50">
            <label for="ano-expiracion">Año de expiración:<sup>*</sup>
            </label>
            <select name="ano-expiracion" required>
              <option value="">Año</option>
              <option value="1">Opción 1</option>
              <option value="2">Opción 2</option>
            </select>
          </div>
          <div class="form-column50">
            <label for="cvv">CVV:<sup>*</sup>
              <a href="#" title="Son los tres últimos números que se encuentran al reverso de tu tarjeta bancaria" class="tooltip">
                <i class="fa fa-info-circle"></i>
              </a>
            </label>
          </label>
          <input type="text" name="cvv" placeholder="Ingresa 3 o 4 dígitos" required/>
        </div>
      </div>

      <%= partial "partials/form-shipping-pay" %>

      <div class="form-row">
        <button class="target">Tarjeta Deporteísmo
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </button>
      </div>

      <div class="form-row">
        <div class="form-column50">
          <div class="check-pay">
            <a href="#"><img src="/images/boton-visacheckout.png"></a>
          </div>
        </div>
        <div class="form-column50">
          <div class="check-pay check-left">
            <a href="#"><img src="/images/boton-paypal.png"></a>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="full-width form-checkbox">
          <input type="checkbox" name="terms-conditions" checked/>
          <label for="terms-conditions">
            Confirmas que has leído, entiendes y aceptas nuestros
            <a href="../legales_terminosycondiciones.jsp" class="texto_azul">Términos y Condiciones</a>,
            <a href="../legales_avisoprivacidad.jsp" class="texto_azul">Políticas de privacidad</a>
            y
            <a class="texto_azul" href="../legales_cambiosdevoluciones.jsp">Política de devoluciones</a>
          </label>
        </div>
      </div>

      <div class="form-row">
        <div class="form-column50"></div>
        <div class="form-column50">
          <button class="btn-save">Pagar</button>
        </div>
      </div>
    </form>
  </div>
</div>
</section>
