<section id="payment">
  <header class="steps-header next-step">
    <h2 class="accordion"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Pago</h2>
  </header>

  <div class="steps-content hide">

    <div class="form-row">
      <button class="target">Tarjeta Crédito / Débito <i class="fa fa-angle-down" aria-hidden="true"></i></button>
    </div>

    <div class="form-row">
      <div class="form-column50">
        <label for="">Nombre del titular:<sup>*</sup></label>
        <input type="text" name=""/>
      </div>
      <div class="form-column50">
        <label for="">Número de tarjeta:<sup>*</sup></label>
        <input type="text" name="" placeholder="**** **** **** ****"/>
      </div>
    </div>

    <div class="form-row">
      <div class="form-column25">
          <label for="">Mes de expiración:<sup>*</sup></label>
          <select>
              <option>Mes</option>
              <option>Opción 1</option>
              <option>Opción 2</option>
          </select>
      </div>
      <div class="form-column25">
          <label for="">Año de expiración:<sup>*</sup></label>
            <select>
              <option>Año</option>
              <option>Opción 1</option>
              <option>Opción 2</option>
            </select>
      </div>
      <div class="form-column25">
          <label for="">CVV:<sup>*</sup> <a href="#" title="Son los tres últimos números que se encuentran al reverso de tu tarjeta bancaria" class="tooltip"><i class="fa fa-info-circle"></i></a></label></label>
          <input type="text" name="" placeholder="Ingresa 3 o 4 dígitos"/>
      </div>
      <div class="form-column25">
          <label for="">Meses sin intereses:<sup>*</sup></label>
            <select>
              <option>3 meses</option>
              <option>6 meses</option>
              <option>12 meses</option>
            </select>
      </div>
    </div>

    <hr>

    <%= partial "partials/form-shipping-pay-guest" %>

    <div class="form-row">
      <div class="form-column50">
        <button class="save">Pagar</button>
      </div>
    </div>

    <div class="form-row">
      <button class="target">OXXO <i class="fa fa-angle-down" aria-hidden="true"></i></button>
    </div>
    <div>
      <p>Paga en cualquier <strong>OXXO</strong> de la república</p>
      <p>Recuerda que tienes 24 horas para hacer tu pago.</p>
      <ul>
        <li>Monto máximo: <strong>$10,000</strong></li>
        <li>Comisión OXXO: <strong>$9.00</strong></li>
      </ul>
      <p>Una vez que confirmes tu orden te enviaremos los datos para tu pago en <strong>OXXO</strong>.</p>
    </div>
    <div class="form-row">
      <div class="form-column50">
        <button class="save">Paga en OXXO</button>
      </div>
    </div>

    <div class="form-row">
      <button class="target">PAYPAL <i class="fa fa-angle-down" aria-hidden="true"></i></button>
    </div>
    <div>
      <div class="check-pay"><a href="#"><img src="/images/boton-paypal.png"></a></div>
    </div>

    <div class="form-row">
      <button class="target">Pago bancario <i class="fa fa-angle-down" aria-hidden="true"></i></button>
    </div>
      <div>
        <p>Realiza tu pago en: <strong>Citibanamex</strong></p>
        <p>Puedes realizar tu pago con depósito en efectivo en cualquier sucursal Citibanamex de la República Mexicana, o bien, con pago referenciado usando Citibanamex por Internet.</p>
        <p>Pago referenciado usando Citibanamex en Línea.</p>
        <p>Tienes 24 horas para realizar el depósito.</p>
        <p>Comisión Citibanamex: $14.00 más IVA.</p>
      </div>
      <div class="form-row">
        <div class="form-column50">
          <button class="save">Paga en citibanamex</button>
        </div>
      </div>

    <div class="form-row">
      <button class="target">Tarjeta Deporteísmo <i class="fa fa-angle-down" aria-hidden="true"></i></button>
    </div>
    <div class="form-row">
      <div class="form-column50">
        <label for="">Nombre del titular:<sup>*</sup></label>
        <input type="text" name=""/>
      </div>
      <div class="form-column50">
        <label for="">Número de tarjeta:<sup>*</sup></label>
        <input type="text" name="" placeholder="**** **** **** ****"/>
      </div>
    </div>

    <div class="form-row">
      <div class="form-column25">
          <label for="">Mes de expiración:<sup>*</sup></label>
          <select>
              <option>Mes</option>
              <option>Opción 1</option>
              <option>Opción 2</option>
          </select>
      </div>
      <div class="form-column25">
          <label for="">Año de expiración:<sup>*</sup></label>
            <select>
              <option>Año</option>
              <option>Opción 1</option>
              <option>Opción 2</option>
            </select>
      </div>
      <div class="form-column25">
          <label for="">CVV:<sup>*</sup> <a href="#" title="Son los tres últimos números que se encuentran al reverso de tu tarjeta bancaria" class="tooltip"><i class="fa fa-info-circle"></i></a></label></label>
          <input type="text" name="" placeholder="Ingresa 3 o 4 dígitos"/>
      </div>
      <div class="form-column25">
          <label for="">Meses sin intereses:<sup>*</sup></label>
            <select>
              <option>3 meses</option>
              <option>6 meses</option>
              <option>12 meses</option>
            </select>
      </div>
    </div>

    <hr>

    <%= partial "partials/form-shipping-pay-guest" %>

    <div class="form-row">
      <div class="form-column50">
        <button class="save">Pagar</button>
      </div>
    </div>

    <div class="form-row">
      <button class="target">Pagos express <i class="fa fa-angle-down" aria-hidden="true"></i></button>
    </div>

    <div>
      <div class="check-pay"><a href="#"><img src="/images/boton-visacheckout.png"></a></div>
    </div>
    <hr>

  </div>
  </header>
</section>
