<section>
  <header class="steps-header current-step">
    <h2 class="accordion">Envio</h2>
  </header>

  <div class="steps-content">
    <div class="row">
        <h3 class="subtitle"> Direcciones </h3>

      <div class="form-row">
          <div class="form-column50 save-direction">
            <div class="radio">
                <input id="radio-1" name="genero" value="hombre" type="radio" >
                <label for="genero" class="radio-label radio-save">Trabajo</label>
            </div>
              <p class="direction-registre">Av. Insurgentes Sur 552, Roma Sur, 07760, Ciudad de México, CDMX.</p>
          </div>
          <div class="form-column50">
              <div class="edit-target">
                <a href="#"><i class="fa fa-pencil icon-edit" aria-hidden="true" title="editar"></i></a>
                <a href="#"><i class="fa fa-times-circle icon-edit red" aria-hidden="true" title="eliminar"></i></a>
              </div>
          </div>
      </div>
      <hr>

      <div class="form-row">
          <div class="form-column50 save-direction">
            <div class="radio">
                <input id="radio-2" name="genero" value="hombre" type="radio" >
                <label for="genero" class="radio-label radio-save">Casa</label>
            </div>
              <p class="direction-registre">Av. Insurgentes Sur 552, Roma Sur, 07760, Ciudad de México, CDMX.</p>
          </div>
          <div class="form-column50">
              <div class="edit-target">
                <a href="#"><i class="fa fa-pencil icon-edit" aria-hidden="true" title="editar"></i></a>
                <a href="#"><i class="fa fa-times-circle icon-edit red" aria-hidden="true" title="eliminar"></i></a>
              </div>
          </div>
      </div>
      <hr>

      <div class="form-row">
          <div class="form-column50">
              <a href="checkout-login" class="btn btn-cancel">Añadir dirección</a>
          </div>
          <div class="form-column50">
              <button class="btn-save">Continuar</button>
          </div>
      </div>

    </div>
  </div>
</section>
