<table class="products-table" cellspacing="0">
  <thead>
    <tr>
      <th class="products-table__img"></th>
      <th class="products-table__title">PRODUCTOS</th>
      <th class="products-table__description">DESCRIPCIÓN</th>
      <th class="products-table__price">PRECIO</th>
      <th class="products-table__quantity">CANTIDAD</th>
      <th class="products-table__total">IMPORTE</th>
      <th class="products-table__remove"></th>
    </tr>
  </thead>
  <tbody>
    <% data.products.products.each do |product| %>
    <tr>
      <td class="products-table__img"><a href=""><img src="<%= product.img_url %>" alt=""></a></td>
      <td class="products-table__title"><p><a href=""><%= product.title %></a> <br> SKU: <%= product.sku %></p></td>
      <td class="products-table__description"><p>TALLA: <%= product.sizes %> <br>COLOR: <%= product.color %> <br> <a href="">Editar</a></p></td>
      <td class="products-table__price"><p>$<%= product.price %></p></td>
      <td class="products-table__quantity">x <%= product.quantity %> <div class="quantity-control"><span class="remove-product">-</span><span class="add-product">+</span></div></td>
      <td class="products-table__total"><p>$<%= product.total %></p></td>
      <td class="products-table__remove"><a href=""><img src="/images/remove.png" alt=""></a></td>
    </tr>
    <% end %>
  </tbody>
</table>
