<section id="register" class="current-section">
    <header class="steps-header current-step">
        <h2 class="accordion">Registro </h2>
    </header>
    <div class="steps-content">
        <div class="row">
            <form id="registerForm" class="" action="" method="post" novalidate>

                <!--<h4><i class="fa fa-arrow-circle-right"></i> Crea una cuenta para dar seguimiento a tus pedidos, y mucho más Registro Social</h4>
    <p>Puedes crear una cuenta con tu red social favorita</p>
    <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div>-->
                <h3 class="subtitle">Nuevo Usuario</h3>
                <!--<h4><sup>*</sup>Campos Obligatorios<h4>-->
                <div class="form-row">
                    <div class="form-column50">
                        <label for="nombres">Nombre (s):
                            <sup>*</sup>
                        </label>
                        <input type="text" name="nombres" required/>
                    </div>
                    <div class="form-column50">
                        <label for="apellidos">Apellidos:
                            <sup>*</sup>
                        </label>
                        <input type="text" name="apellidos" required/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-column50">
                        <label for="email">Correo eléctronico:<sup>*</sup>
                        </label>
                        <input type="email" name="email" required/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-column50">
                        <label for="password">Contraseña:<sup>*</sup>
                            <a href="#" title="Tu contraseña debe de incluir almenos 8 caracteres (números, letras y caracteres especiales como &¿¡.;!/()-$#)" class="tooltip">
                                <i class="fa fa-info-circle"></i>
                            </a>
                        </label>
                        <input type="password" name="password" required/>
                    </div>
                    <div class="form-column50">
                        <label for="conf-password">Confirmar Contraseña:<sup>*</sup>
                        </label>
                        <input type="password" name="conf-password" required/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-column50">
                        <label for="fecha-nacimiento">Fecha de nacimiento (dd/mm/aaaa):<sup>*</sup>
                        </label>
                        <input id="input-datepicker" required class="Date Date-picker Input--noSpinner" type="date" min="1990-12-31" max="2017-12-31" placeholder="dd-mm-aaaa" data-date='{"buttonOnly": true}' name="fecha-nacimiento" required/>
                    </div>
                </div>
                <div class="form-row">
                    <label for="genero">Genero<sup>*</sup>
                    </label>
                </div>
                <div class="form-radio">
                    <div class="radio">
                        <input id="radio-1" name="genero" value="hombre" type="radio" >
                        <label for="genero" class="radio-label">Hombre</label>
                    </div>
                    <div class="radio">
                        <input id="radio-2" name="genero" value="mujer" type="radio" >
                        <label for="genero" class="radio-label">Mujer</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-column50">
                        <a href="checkout-login" class="btn btn-cancel">Cancelar</a>
                    </div>
                    <div class="form-column50">
                        <button class="btn-save">Crear cuenta</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
