<div class="summary">
  <header class="summary-header">
    <h3 class="summary__title">Resumen</h3>
  </header>
  <dl class="summary__total-product">
    <dt>Total de productos</dt>
    <dd>2</dd>
  </dl>
  <dl class="summary_subtotal">
    <dt>Subtotal</dt>
    <dd>$1,548.00</dd>
  </dl>
  <dl class="summary__discount">
    <dt>Descuento</dt>
    <dd>-$309.60</dd>
  </dl>
  <dl class="summary__shipping">
    <dt>Envío</dt>
    <dd>GRATIS</dd>
  </dl>
  <dl class="summary__total">
    <dt>Total</dt>
    <dd>$1,238.40</dd>
  </dl>
  <%= partial "partials/coupon" %>
  <div class="to-pay">
    <dl class="to-pay__wrapper">
      <dt class="to-pay__title">Por pagar:</dt>
      <dd class="to-pay__quantity">$1,597.60</dd>
    </dl>
  </div>
  <div class="order-btns">
    <a href="checkout-login"><button class="btn orange-btn order__btn">realizar pedido</button></a>
    <div class="order-btns__hr-wrapper">
      <hr class="order-btns__hr">
      <span>Ó</span>
    </div>
    <button class="btn ghost-btn express-order__btn">compra express</button>
  </div>
</div>
