---
title: Checkout Martí
---

<main class="content-wrapper">
  <div class="steps-wrapper login-wrapper">
    <section class="steps">
      <header class="steps-header current-step">
        <h2 class="accordion">Comienza tu compra</h2>
      </header>
      <div class="row">
        <div class="login-widget">
          <form class="" action="index.html" method="post">
          <h3 class="subtitle">Inicia sesión</h3>
            <div class="form-row">
              <label for="">Correo eléctronico:<sup>*</sup></label>
            </div>
            <div class="form-row">
              <input type="text" name="" />
            </div>
            <div class="form-row">
              <label for="">Contraseña:<sup>*</sup> <a href="#" title="Tu contraseña debe de incluir almenos 8 caracteres (números, letras y caracteres especiales como &¿¡.;!/()-$#)" class="tooltip"><i class="fa fa-info-circle"></i></a></label>
            </div>
            <div class="form-row">
              <input type="text" name="" />
            </div>
              <a class="recuperar_pass" href="">¿Olvidaste tu contraseña?</a>
            <div class="form-row">
                <input id="box2" type="checkbox" />
                <label for="box2">Recordarme</label>
            </div>
              <a href="checkout-usuario" class="btn btn-save">Entrar</a>
            </form>
        </div>
        <div class="login-widget login-widget-vertical">
            <h3 class="subtitle">Regístrate en Marti.mx</h3>
            <p>Crea una cuenta y ten grandes beneficios</p>
            <a href="checkout-nuevo" class="btn btn-save">Crear cuenta</a>

        </div>
      </div>
    </section>
  </div>
</main>
