---
title: Checkout Martí
---

<main class="content-wrapper checkout-guest">
  <div class="steps-wrapper">
    <div class="steps">
      <%= partial "partials/register" %>
      <%= partial "partials/form-shipping-guest" %>
      <%= partial "partials/pay-invitado" %>
      <%= partial "partials/confirmation" %>
    </div>
    <section class="details">
      <%= partial "partials/order-detail" %>
      <%= partial "partials/benefits" %>
    </section>
  </div>
</main>
<script type="text/javascript">
  $( document ).ready(function() {
      $('#register').removeClass('current-section');
      $('#shipping').addClass('current-section');
      $('#register .steps-content').hide();
      $('#register header').addClass('prev-step');
      $('#shipping').children().show();
      $('#shipping header').addClass('current-step').removeClass('next-step');
  });
</script>
