---
title: Checkout Martí
---

<main class="content-wrapper">
  <div class="steps-wrapper">
    <div class="steps">
      <%= partial "partials/pay-usuario" %>
    </div>
    <section class="details">
      <%= partial "partials/order-detail" %>
      <%= partial "partials/benefits" %>
    </section>
  </div>
</main>
