---
title: Checkout Martí
---

<main class="content-wrapper">
  <div class="steps-wrapper">
    <section class="steps">
      <header class="steps-header current-step">
        <h2>Artículos agregados al carrito</h2>
      </header>
      <%= partial "partials/products-table" %>
    </section>
    <section class="details">
      <%= partial "partials/summary" %>
      <%= partial "partials/benefits" %>
    </section>
  </div>
</main>
